*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.section-p1{   /*section padding 01*/
    padding: 40px 80px;
}
section-m1{
    padding:40px 80px;
}
button.normal{
    font-size: 14x;
    font-weight: 600;
    padding: 15px 30px ;
    color:black;
    background-color: rgb(237, 237, 237);
    border-radius: 4px;
    cursor:pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
button.white{
    font-size: 13x;
    font-weight: 600;
    padding: 11px 18px ;
    color:rgb(0, 0, 0);
    background-color:#dff3f8;
    border-radius: 4px;
    cursor:pointer;
    border: 1px solid rgb(6, 6, 6);
    outline: none;
    transition: 0.2s;
}
body{
    width: 100%;
}

/* navbar */
.navbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:20px 80px; /*top-bottom:20px  right-left:80px*/
    background-color:#eccc94;
    box-shadow: 0 /* from x*/ 5px /*from y*/ 5px /*radius*/ rgba(0,0.4,0,0.4);
    z-index:999;
    position:sticky;
    top:0;
    left:0;
}
#nav{
    display:flex;
    align-items:center;
    justify-content:center;
    
}
#nav li{
    list-style:none;
    padding:0 /*top-bottom*/ 23px /*right-left*/;
}
#nav li a{
    text-decoration:none;
    font-size:20px;
    font-weight:600;
    color:black;
    display:inline-block;
    transition:0.3s ease;
}
#nav li a:hover{
    color:#0e0456;
    background-color: #eeec6a;
    transform:scale(1.19 , 1.25); /*scale(x,y)*/
}
#mobile{
   display:none; 
   align-items: center;  
}


/* home page */
#below_nav{
    background-image: url("img/back7.jpg");
    height:80vh;
    width:100%;
    background-size:cover;
    background-position: top 25% right 0;
    background-repeat: no-repeat;
    padding: 0 /*top-bottom*/  80px /*right-left*/ ;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
#below_nav h3{
    padding-bottom: 18px;
    color:rgb(41, 6, 6);
}
#below_nav h2{
    color:rgb(0, 0, 0);
}
#below_nav p{
    color:rgb(5, 0, 0);
}
#below_nav h1{
 color: #030303;
}

#below_nav button{
    padding:10px;
    font-size:20px;
    border:3px solid black;
    border-radius:18px;
    text-decoration: underline;
    font-style: italic;
    font-weight: 600;
    cursor: pointer;
}
#below_nav button:hover{
    background-color: rgb(247, 244, 94);
}

#feature{
    display:flex;
    align-items:center;
    justify-content:space-between ;
    flex-wrap: wrap;
}
#feature .fe-box{
    width:180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 11px 15px 4px rgba(9, 8, 8, 0.05);
    border: 2.5px solid black;
    border-radius: 8px;
    margin:15px 0;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 2px rgba(27, 18, 192, 0.1);
    border-radius: 15px;
    transform:scale(1.02 , 1); /*scale(x ,y)*/
}
#feature fe-box img{
    width:100%;
    margin-bottom:10px;
}
#feature .fe-box h4{
    display:inline-block;
    padding: 8px 9px 6px 8px;
    line-height:1;
    border-radius:5px;
    color:#088178;
    background-color: #fddde4;
}
#feature .fe-box:nth-child(2) h4{
    background-color: rgb(216, 218, 108);
}
#feature .fe-box:nth-child(3) h4{
    background-color: rgb(219, 206, 247);
}
#feature .fe-box:nth-child(4) h4{
    background-color: rgb(183, 224, 183);
}
#feature .fe-box:nth-child(5) h4{
    background-color: rgb(223, 160, 147);
}


/* our products style */
#product1{
    text-align:center;
}
#product1 .product-container{
    display:flex;
    justify-content: space-between;
    padding-top:20px;
    flex-wrap:wrap;
}
#product1 .pro{
    width:250px;
    min-width: 250px;
    padding: 10px 12px;
    border:1px solid #263228;
    border-radius: 15px;
    cursor:pointer;
   
    margin: 15px 0;
}
#product1 .pro:hover{
    box-shadow:12px 12px 3px rgba(9, 8, 40, 0.1);
    border-radius:0;
    transform: scale(1.1,1.1);
}
#product1 .pro img{
    width:100%;   /*width: 100% makes the image stretch (or shrink) 
    to match the width of its parent container, i.e., the .pro div.*/
    border-radius: 15px;
}
#product1 .pro .descrip{
    text-align:start;
    padding:10px 0;
}
#product1 .pro .descrip span{
    color:#060663;
    font-size:18px;
}
#product1 .pro .descrip h3{
    padding-top:7px;
    font-size:20px;
    font-weight:700;
}
#product1 .pro .descrip .rating i{
    font-size:15px;
    color:rgb(243, 181, 25);
}
#product1 .pro .descrip h3{
    padding-top:7px;
    font-size:20px;
    font-weight:700;
}
#product1 .pro button{
    padding:5px;
    border-radius: 11px;
}
#product1 .pro button:hover{
    transform:scale(1.2 , 1.2)
}

/* banner */
#banner .video-bg{
    width:100%;
    height:50vh;
    position:relative;
    overflow:hidden;
}
#banner .video-bg video{
    min-width:100%;
    height:50vh;
    position:absolute;
    z-index:-1;
}
#banner .content{
   text-align:center;
}

#banner .content button{
   padding: 10px;
   font-size:23px;
   border-radius:8px;
   background-color: #dd5e5e;
   font-weight:600;
   font-family:'Times New Roman', Times, serif;
}
#banner .content button:hover{
    cursor:pointer;
    background-color: #f0ba25;
}

/* below banner text/pic banner */
#txt-banner1{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    gap:15px;
}
#txt-banner1 .banner-box1{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    background-image: url("img/text-banner/picture-1.jpg");
    min-width: 580px;
    height:50vh;
    background-size: cover;
    background-position: center;
    padding:30px;
    border:2px solid black;
    border-radius:4px;
}
#txt-banner1 h4{
    color:rgb(1, 0, 0);
    font-size: 20px;
    font-weight: 300;
}
#txt-banner1 h2{
    color:rgb(2, 2, 2);
    font-size: 28px;
    font-weight:800 ;
}
#txt-banner1 span{
    color:rgb(0, 0, 0);
    font-size: 14px;
}
#txt-banner1 .banner-box2{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    background-image: url("img/text-banner/picture-2.jpg");
    min-width: 580px;
    height:50vh;
    background-size: cover;
    background-position: center;
    padding:30px;
    border:2px solid black;
    border-radius:6px;
}
#txt-banner1 .banner-box1:hover button{
    background-color:rgb(235, 242, 51) ;
    border: 1px solid black;
}
#txt-banner1 .banner-box2:hover button{
    background-color:rgb(235, 242, 51) ;
    border: 1px solid black;
}

#txt-banner2{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    gap:15px;
}
#txt-banner2 .banner1{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/text-banner/jwellery.jpg");
    min-width: 380px;
    height:30vh;
    background-size: cover;
    background-position: center;
    padding:30px;
}
#txt-banner2 .banner1 h3{
    color:white;
    background-color: #ed8d8d;
}
#txt-banner2 .banner1 h1{
    color:white;
    background-color: #ea5b5b;
}
#txt-banner2 .banner2{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/text-banner/electronics.jpg");
    min-width: 380px;
    height:30vh;
    background-size: cover;
    background-position: center;
    padding:30px;
}
#txt-banner2 .banner2 h3{
    color:white;
    background-color: #c67a44;
}
#txt-banner2 .banner2 h1{
    color:white;
    background-color: #c77b1e;
}
#txt-banner2 .banner3{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/text-banner/footwear.jpg");
    min-width: 380px;
    height:30vh;
    background-size: cover;
    background-position: center;
    padding:30px;
}
#txt-banner2 .banner3 h3{
    color:white;
    background-color: #865a14;
}
#txt-banner2 .banner3 h1{
    color:white;
    background-color: #5d450a;
}

/* Footer */
footer{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    background-color: rgb(42, 41, 41);
}
footer .col{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo{
    margin-bottom: 30px;
    width:130px;
}
footer h4{
    font-size:14px;
    padding-bottom:20px;
    color:rgb(240, 224, 224);
}
footer p{
    font-size:13px;
    margin: 0 0 8px 0;
    text-decoration:none;
    color:rgb(240, 224, 224);
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color:rgb(240, 224, 224);
    margin-bottom: 10px;
}
footer .follow{
    margin-top:20px;
}
footer .follow i{
    color:rgb(240, 224, 224);
    padding-right:4px;
    cursor:pointer;
}
footer .install .row{
    display:flex;
    align-items: center;
    gap:10px;
}
footer .install .row img{
    width:180px;
}
footer .install .gateways img{
    width:280px;
}
footer .install img{
    margin:8px 0 12px 0; /*top right bottom left*/
}
.copyright{
    text-align: center;
}

/* media query */
@media (max-width:770px){
    .section-p1{
        padding: 40px 40px;
    }
    #nav{
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position:fixed;
        top: 0;
        right:-300px;
        height: 100vh;
        width:300px;
        height: 100vh;
        background-color: #a1dbd2;
        padding:80px 0 0 10px;
        transition: 0.4s;

    }
    #nav.active{
        right:0px;
        cursor:pointer;
    }
    
    #nav li{
        margin-bottom: 30px;;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #close{
        position:absolute;
        top:30px;
        left:30px;
        color:black;
        font-size: 28px;
    }
    #product1 .product-container{
        justify-content: center;   
    }
    #product1 .pro{
        margin:15px;
    }
    
}

@media(max-width:480px){
    .navbar{
       padding:10px 30px; /*top-bottom:20px  right-left:80px*/
       width:100%;
    }
    footer .install .row img{
       width:100px;
    }
    #txt-banner2{
       padding:20px;
    }
}

@media(max-width:405px){
    #txt-banner2 .banner1{
      min-width: 180px;
      height:20vh;
      padding:30px;
    }
    #txt-banner2 .banner2{
      min-width: 280px;
      height:20vh;
      padding:30px;
    }
    #txt-banner2 .banner3{
      min-width: 280px;
      height:20vh;
      padding:30px;
    }
}

@media(max-width:320px){
    #txt-banner1 .banner-box1{
        min-width: 200px;
        height: 30vh;
    }
}

@media (max-width:660px){
    #below_nav h3{
        font-size: 15px;
    }
    #below_nav h1{
        font-size:20px;
    }
    #feature{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #banner .video-bg{
      width:100%;
      height:50vh;
      position:relative;
      overflow:hidden;
      display:flex;
      align-items: center;
      justify-content: center;
    }
   #banner .video-bg video{
      min-width:50%;
      height:30vh;
      position:absolute;
      z-index:-1;
    }
    #banner .content button{
      padding: 5px;
      font-size:20px;
    }
    #txt-banner1 .banner-box1{
      min-width: 300px;
      height:50vh;
    }
    #txt-banner1 .banner-box2{
      min-width: 300px;
      height:50vh;
    }
}
/*
@media (max-width:470px){
    #txt-banner2 .banner1{
      min-width: 280px;
      height:20vh;
    }
    #txt-banner2 .banner2{
      min-width: 280px;
      height:20vh;
    }
    #txt-banner2 .banner3{
      min-width: 280px;
      height:20vh;
    }
}*/